.event-container {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #b30000;
  margin-bottom: 20px;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.event-table th {
  background-color: #b30000;
  color: white;
  padding: 10px;
  text-align: center;
}

.event-table td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.event-name {
  font-weight: bold;
  text-align: left;
}

.event-date {
  color: #333;
}

.event-odd {
  font-weight: bold;
}

.event-odd:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}
