<app-navbar>
  <div class="navbar-buttons">
    <a mat-fab class="logout-button">
      Logout
    </a>
  </div>
</app-navbar>




<mat-card appearance="outlined">
  <mat-card-content>
    <h1> To withdraw amount</h1>
    <mat-form-field floatLabel="always" appearance="outline">
    <input matInput type="number" class="example-right-align" placeholder="0" />
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
    <a mat-fab class="button" routerLink="/">
      Send
    </a>
  </mat-card-content>
</mat-card>


