.add-game-section {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.add-game-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.add-game-button:hover {
  background-color: #388e3c;
}

.add-game-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

/*.add-game-form {
  display: flex;
  gap: 10px;
}*/

.static-form-container {
  display: flex;
  gap: 10px;
  align-items: start;
}

.hidden {
  display: none;
}

.static-form-container button {
  margin-top: 8px;
}

.rules-to-add {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.rule-to-add-input {
  width: 100px;
  max-width: 300px;
}

.games-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

.game-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.game-name {
  font-size: 18px;
  font-weight: bold;
    width: 200px;
  }

.rules-list {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  padding-left: 15px;
}

.rule {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.modify-button,
.remove-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.modify-button:hover,
.remove-button:hover {
  background-color: #e64a19;
}

.modify-button:focus,
.remove-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 87, 34, 0.4);
}
