
.container {
  flex-direction: column;
  gap: 20px;
}

.search-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  padding: 0 40px;
  font-size: 16px;
}

.action-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  margin-left: 20px;
}

.admin-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  margin-left: 20px;
  width: fit-content;
  padding: 0 10px;
  font-size: 16px;
}

.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}

.action-button:hover, .search-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.balance {
  position: relative;
}

.balance-box {
  position: absolute;
  display: grid;
  grid-template-columns: 5fr 1fr;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}
