
.container {
  flex-direction: column;
  gap: 20px;
}

.search-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  padding: 0 40px;
  font-size: 16px;
}

.action-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  margin-left: 20px;
}

.admin-button {
  background: #212121;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  margin-left: 20px;
  width: fit-content;
  padding: 0 10px;
  font-size: 16px;
}

.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}

.action-button:hover,.search-button:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.balance{
  align-items: center;
}
