h1{
  text-align: center;
  font-family: Arial, sans-serif;
}
.search-button {
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  padding: 0 40px;
}

.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}

.active-button:hover,.search-button:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.promotion-card{
  background-color: white;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

.promotion-card:hover {
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.active-button{
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  min-width: 150px;
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial, sans-serif;
}

.promotion-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

.promotion-name, .promotion-description, .promotion-date, .promotion-goal,.promotion-price,.promotion-type{
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0;
  color: black;
  font-family: Arial, sans-serif;
}

.active {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

