<app-navbar></app-navbar>
<app-leftbar></app-leftbar>

<div class="promotions-container">
  <h1>Offers</h1>

  <mat-tab-group>
    <mat-tab label="All offers">
        <div class="promotion-list">
          @for(promotion of (allPromotions$ | async); track promotion) {
            <mat-card class="promotion-card" appearance="outlined">
              <mat-card-content class="promotion-card-content">
                <div class="promotion-name">{{ promotion.name }}</div>
                <div class="promotion-description">{{ promotion.description }}</div>
                <div class="promotion-details">
                  <span>Expires: {{ promotion.expirationDate }}</span>
                  <span>Type: {{ promotion.type }}</span>
                  <span>Goal: {{ promotion.goal }}</span>
                  <span>Bonus: ${{ promotion.price }}</span>
                </div>
                <div class="active">
                  <button mat-fab class="active-button" (click)="acceptPromotion(promotion.id)">
                    Activate
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          }
        </div>
    </mat-tab>

    <mat-tab label="Activated offers">
      <div class="promotion-list">
        @for(activatedPromotion of (allActivedPromotion$ | async); track activatedPromotion) {
          <mat-card class="promotion-card" appearance="outlined">
            <mat-card-content>
              <div class="promotion-name">{{ activatedPromotion.name }}</div>
              <div class="promotion-description">{{ activatedPromotion.description }}</div>
              <div class="promotion-details">
                <span>Type: {{ activatedPromotion.type }}</span>
                <span>Goal: {{ activatedPromotion.goal }}</span>
                <span>Bonus: ${{ activatedPromotion.bonus }}</span>
                <span>Progress: {{ activatedPromotion.progress }} / {{ activatedPromotion.goal }}</span>
                <mat-progress-bar mode="determinate" [value]="(activatedPromotion.progress / activatedPromotion.goal) * 100"></mat-progress-bar>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
