<app-navbar><div class="navbar-buttons">
  <a mat-fab class="search-button" extended routerLink="/search">
    <mat-icon>search</mat-icon>
    Search on ESbet START...
  </a>
  <a mat-fab class="search-button" routerLink="/login">
    Login
  </a>
  <a mat-fab class="search-button" routerLink="/registration">
    Join Now
  </a>
</div></app-navbar>


<app-leftbar></app-leftbar>

<h1>Promotion</h1>


<mat-card class="promotion-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Large</mat-card-subtitle>
      <img mat-card-lg-image src="" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>



