<nav class="navbar">
  <div class="navbar-container">

    <div class="navbar-logo">
      <img src="assets/logo.png" alt="Logo" (click)="toHomePage()">
    </div>

    <div class="navbar-buttons">
      <a mat-fab class="search-button" extended >
        <mat-icon>search</mat-icon>
        Search on ESbet START...
      </a>
      @if (this.role != null) {

        @if (this.role == Role.EVENT_MANAGER) {
          <button mat-fab class="admin-button" routerLink="/esports-admin"> Events management</button>
        } @else if (this.role == Role.GAMBLER) {
          <a mat-fab class="action-button" (click)="toProfile()">
            <mat-icon  aria-label="Profile icon">account_circle</mat-icon>
          </a>
          <div class="balance">
            <a mat-fab class="action-button" (click)="toggleBalance()">
              <mat-icon>monetization_on</mat-icon>
            </a>
            <div *ngIf="isBalanceVisible" class="balance-box">
              <span>Balance:</span>
              <span>{{(balance | async)?.balance}}</span>
              <span>Bonus Balance:</span>
              <span>{{(balance | async)?.bonusBalance}}</span>
              <span>Withdrawable Balance:</span>
              <span>{{(balance | async)?.withdrawableBalance}}</span>
            </div>
          </div>
        }
        <a mat-fab class="action-button" (click)="logout()">
          <mat-icon (click)="logout()" aria-label="Logout icon">logout</mat-icon>
        </a>
      } @else {
        <a mat-fab class="search-button" (click)="toLogin()">
          Login
        </a>
        <a mat-fab class="search-button" (click)="toRegister()">
          Join Now
        </a>
      }
    </div>

  </div>
</nav>
