
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  height: 70px;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo img {
  height: 90px;
  cursor: pointer;
}


