
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 70px;
  padding: 5px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200%;
}


.navbar-logo img {
  height: 210px;
  width: auto;
  margin-top: 40px;
}



.navbar-search {
  display: block;
  align-items: center;



}

.search-input {
  border: none;
  width: 40%;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  margin-left: 1020px;
  margin-top: 20px;
  font-weight: bold;

  color: white;
  font-family: Cambria;
}
.navbar-icon {


}
.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}

.navbar-buttons .login-button {
  padding: 10px 20px;
  font-size: 13px;
  font-family: Cambria;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 1070px;
}

.navbar-buttons .join-button {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  font-family: Cambria;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover,
.join-button:hover {
  background-color: white;
  color: black;
}
