
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  height: 70px;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200%;
}

.navbar-logo img {
  height: 210px;
  width: auto;
  margin-top: 40px;
}
.search-input {
  border: none;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
  font-family: Cambria, serif;
  margin-left: 970px;
  background-color: black;
}

.search-input input {
  background: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}

.search-button {
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
}

.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}

.navbar-buttons .login-button {
  font-family: Cambria, serif;
  padding: 10px 20px;

  border-radius: 15px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 10px;
}

.navbar-buttons .join-button {
  font-family: Cambria, serif;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 15px;
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover,
.join-button:hover, .search-button:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
