<app-navbar>
  <div class="navbar-buttons">
  <a mat-fab class="logout-button">
    Logout
  </a>
  </div>
</app-navbar>

<div class="container">

<div class="sidebar">
<mat-card appearance="outlined">
<mat-list>
  <mat-list-item routerLink="/profile">Profile</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/bets">Bets</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/message">Messages</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/bank-account">Bank account movement</mat-list-item>
</mat-list>
</mat-card>
  <div class="sidebar-buttons">
    <a mat-fab class="sidebar-button" routerLink="/recharge">
      Recharge
    </a>
    <a mat-fab class="sidebar-button" routerLink="/withdraw">
      Withdraw
    </a>
  </div>
</div>

<div class="profile-section">
<h1>Profile</h1>

<h2>Access Data</h2>

 <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> -->
  <div class="data-container">
    <mat-card appearance="outlined">
      <mat-card-content>Name</mat-card-content>
      <mat-form-field appearance="outline" class="data-access">
        <input matInput>
      </mat-form-field>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-content>Surname</mat-card-content>
      <mat-form-field appearance="outline" class="data-access">
        <input matInput>
      </mat-form-field>
    </mat-card>

<mat-card appearance="outlined">
  <mat-card-content>Username</mat-card-content>
  <mat-form-field appearance="outline" class="data-access">
    <input matInput>
  </mat-form-field>
</mat-card>

  </div>
  <div class="edit">
<a mat-fab class="logout-button">
  Edit
</a>
   </div>

 <!-- </form> -->

  </div>

</div>
