.add-game-section {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/*.add-game-form {
  display: flex;
  gap: 10px;
}*/

.static-form-container {
  display: flex;
  gap: 10px;
  align-items: start;
}

.hidden {
  display: none;
}

.static-form-container button {
  margin-top: 8px;
}

.rules-to-add {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.rule-to-add-input {
  width: 100px;
  max-width: 300px;
}
