
<form class="registration-form" [formGroup]="precisionForm" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="registration">
        <table class="name-surname-container" ><tr>
          <td><mat-form-field class="name-container">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            @if(precisionForm.get('name')?.invalid &&( precisionForm.get('name')?.touched || precisionForm.get('name')?.dirty)) {
            }@else if(precisionForm.get('name')?.errors?.['required']) {
              <mat-error>Name is required</mat-error>
            }
          </mat-form-field></td>
          <td><mat-form-field class="surname-container">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname">
            @if(precisionForm.get('surname')?.invalid &&( precisionForm.get('surname')?.touched || precisionForm.get('surname')?.dirty)) {
            }@else if(precisionForm.get('surname')?.errors?.['required']) {
              <mat-error>Surname is required</mat-error>
            }
          </mat-form-field></td>
        </tr></table>


        <mat-form-field class="email-container">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formGroup]="precisionForm" formControlName="email" placeholder="miao@example.com">
          @if (precisionForm.hasError('email') && !precisionForm.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (precisionForm.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>


        <div class="password-container">
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"/>
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if(precisionForm.get('password')?.invalid &&( precisionForm.get('password')?.touched || precisionForm.get('password')?.dirty)) {
            }@else if(precisionForm.get('password')?.errors?.['required']) {
              <mat-error>Please enter a valid password</mat-error>
            }
          </mat-form-field>
        </div>


        </div>

        <button class="registration-button" mat-stroked-button  [disabled]="precisionForm.invalid">Join now</button>

    </mat-card-content>
  </mat-card>
</form>
