.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
}

.logout-button {
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  padding: 0 40px;
}
.logout-button:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.navbar-buttons {
  width: auto;
  display: flex;
  gap: 10px;
}
.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 20%;
}
.options mat-card{
  background-color: white;
  width: 80%;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
h1{
  font-family: Arial, sans-serif;
  text-align: left;
}
mat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.sidebar {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
mat-divider {
  height: 1px;
  margin: 8px 0;
}
.sidebar mat-card {
  background-color: white;
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
