<div class="banner">
<mat-card class="banner-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <button class="banner-button" mat-stroked-button>Join now</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    REGISTER TO DISCOVER ALL THE NEWS FOR NEW USERS!
  </mat-card-content>
</mat-card>

<mat-card class="banner-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <button class="banner-button" mat-stroked-button>Join now</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    REGISTER TO DISCOVER ALL THE NEWS FOR NEW USERS!
  </mat-card-content>
</mat-card>

  <mat-card class="banner-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <button class="banner-button" mat-stroked-button>Join now</button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      REGISTER TO DISCOVER ALL THE NEWS FOR NEW USERS!
    </mat-card-content>
  </mat-card>

  <mat-card class="banner-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <button class="banner-button" mat-stroked-button>Join now</button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      REGISTER TO DISCOVER ALL THE NEWS FOR NEW USERS!
    </mat-card-content>
  </mat-card>
</div>
