<div class="banner">
<mat-card class="banner-card1" appearance="outlined">
  <a mat-fab class="banner-button" routerLink="/registration">
    Join Now!
  </a>
  <mat-card-content>
    REGISTER TO DISCOVER ALL THE NEWS FOR NEW USERS!
  </mat-card-content>
</mat-card>

  <mat-card class="banner-card3" appearance="outlined">
  </mat-card>

  <mat-card class="banner-card2" appearance="outlined">
    <mat-card-content>
  FOLLOW THE NEW COMPETITION OF THIS NEW GAME!
    </mat-card-content>
  </mat-card>

  <mat-card class="banner-card4" appearance="outlined">
  </mat-card>

</div>
