.container {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}

.competition-form {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  width: 300px;
}

.competition-form button {
  margin-top: 10px;
}

mat-form-field {
  margin-right: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em; /* Incrementa la dimensione */
  font-weight: 700;
  background: linear-gradient(to right, #B71C1C, #880E4F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #333333; /* Per il fallback */
}

.championships {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.championship-item {
  padding: 20px;
  background-color: #F5F5F5;
  border: 1px solid #B71C1C;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 80px;
  min-width: 300px;
}

.championship-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.competition-name {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  margin-bottom: 5px;
}

.competition-name:hover {
  color: #d32f2f;
}

.origin-country {
  font-size: 0.9em;
  color: #616161;
  display: flex;
  align-items: center;
}

.country-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid #B71C1C;
}

.championship-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.update-btn {
  background-color: #B71C1C;
  color: white;
}

.update-btn:hover {
  background-color: #880E4F;
}

.remove-btn {
  background-color: #D32F2F;
  color: white;
}

.remove-btn:hover {
  background-color: #B71C1C;
}
