<app-navbar>
  <div class="navbar-buttons">
    <a mat-fab class="search-button" extended routerLink="/search">
      <mat-icon>search</mat-icon>
      Search on ESbet START...
    </a>
    <a mat-fab class="search-button" routerLink="/login">
      Login
    </a>
    <a mat-fab class="search-button" routerLink="/registration">
      Join Now
    </a>
  </div>
</app-navbar>

<app-leftbar></app-leftbar>

<div class="sport-container">
  @for (sport of (allGames$ | async); track sport) {
    <img src="assets/esports" class="sport-image"/>
      <div class="sport-name">
        {{ sport.name }}
      </div>
  }
</div>
