.add-competition-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
}

.game-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.no-game-selected {
  cursor: pointer;
}

.game-header button {
  align-self: center;
  margin-left: 20px;
}

.game-title {
  background-color: #d32f2f;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.8em;
  font-weight: bold;
  min-width: 300px;
  width: fit-content;
}

.add-competition-button {
  margin-left: 20px;
}

.competition-form {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  width: 300px;
}

.competition-form button {
  margin-top: 10px;
}

mat-form-field {
  margin-right: 20px;
}
