<div class="bet-slip-container">

    <div class="open-slip" (click)="toggleBetSlip()">
        <mat-icon>list_alt</mat-icon>
    </div>

    <div class="bet-slip" [class.open]="isOpen" (click)="$event.stopPropagation()">
        <h3>Your Bet Slip</h3>

        <div>Odds selected:</div>

        <div class="bet-item-container">
            @for (slipOdd of (slip$ | async)?.odds; track slipOdd.oddId) {
                <div class="bet-item">
                    <span class="bet-name">{{ slipOdd.eventName }}</span>
                    <span class="bet-odd">{{ slipOdd.oddName }}</span>
                    <span class="bet-value">{{ slipOdd.oddValue }}</span>
                    <mat-icon class="remove-icon" (click)="removeOdd(slipOdd.oddId)">close</mat-icon>
                </div>
            }
        </div>

        <mat-form-field appearance="outline" class="bet-input">
            <mat-label>Bet Amount (€)</mat-label>
            <input matInput type="number" [value]="(slip$ | async)?.amount" (input)="updateAmount($event)">
        </mat-form-field>

        <button mat-raised-button color="primary" class="bet-button" (click)="placeBet()">Place Bet</button>
    </div>
</div>
